body{
	margin:0;
	padding:40px 40px 10px 50px;
}
.break{
	height:70px;
}
.hidden{
	display:none;
}
.appsasdf{
	background-color:skyblue;
}
.Nav h1{
	color:#212529;
	font-weight:bolder;
	font-size:35px;
}
.Nav{
	letter-spacing: 1px;
	display:flex;
	justify-content: baseline;
	align-items: center;
	margin:0 0 20px 0;
}
.Nav ul{
	margin:0;
	padding:0 0 0 20px;
	display:flex;
	align-items: center;
	justify-content: flex-end;
}
.Nav ul li{
	list-style-type:none;
	margin:0 15px 0 15px;
	font-size:13px;
}
.Nav a{
	color:gray;
}
.Nav a:hover{
	text-decoration:none;
}
/* ***************************************** */
.Main{
	height:80vh;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	letter-spacing: 2px;
	background: url('images/bg2.png') no-repeat center center fixed;
}
.Main h1{
	font-size:60px;
}
/* ***************************************** */
.About{
	height:60vh;
	display:flex;
	flex-direction: column;
	justify-content: center;
	width:800px;
	margin:auto;
	text-align:justify;
}
/* ***************************************** */
.Websites{
	display:flex;
	flex-direction: column;
	align-items: center;
	width:800px;
	margin:auto;
}
/* ***************************************** */
.boxes{
	box-shadow: 1px 1px 1px gray;
	margin:20px;
	height:180px;
	width:220px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.boxes img{
	max-height:200px;
	max-width:200px;
}
.flex_row{
	display:flex;
	flex-wrap: wrap;
}
.black{
	background-color:black;
}
.Apps{
	display:flex;
}
.Major{
	min-width:30vw;
}
.Justapps{
	min-width:50vw;
}
.Justappsflex{
	display:flex;
	flex-wrap: wrap;
}
.appboxes img{
	padding:20px;
	width:200px;
	height:200px;
}
.appboxes{
	margin:20px;
	text-align:center;
	font-weight:bolder;
}
.appboxes:hover{
	box-shadow:1px 1px 1px gray;
}
.Justapps h3{
	margin:0 0 10px 50px;
}

@media only screen and (max-width: 600px) {
	body {
	  padding:20px;
	}
	.Nav h1{
		color:#212529;
		font-weight:bolder;
		font-size:30px;
		text-align:center;
	}
	.Nav{
		letter-spacing: 1px;
		display:block;
		justify-content: baseline;
		align-items: center;
		margin:0 0 20px 0;
	}
	.Nav ul{
		margin:0;
		padding:0;
		justify-content: space-around;
	}
	.Main{
		text-align:center;
	}
	.Main h1{
		font-size:40px;
	}
	.Main h4{
		font-size:25px;
	}
	.About{
		text-align: center;
		margin:20px 0 0 0;
		display:block;
		width:100%;
	}
	.Websites{
		width:100%;
		display:flex;
		flex-direction: center;
		justify-content: center;
		margin:0;
		padding:0;
	}
	.flex_row{
		display:block;
		flex-wrap: none;
	}
	.Apps{
		text-align:center;
		display:flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.Major .Justapps{
		width:100%;
	}
	.Justappsflex{
		display:block;
		flex-wrap: none;
	}
	.appboxes img{
		padding:20px;
		width:200px;
		height:200px;
	}
	.appboxes{
		margin:20px;
		text-align:center;
		font-weight:bolder;
	}
	.appboxes:hover{
		box-shadow:1px 1px 1px gray;
	}
	.Justapps h3{
		margin:0;
	}










  }